/* temples-large.css */
@media (min-width: 768px) {
    .navigation {
        display: flex;
        flex-direction: row;
        width: auto;
    }

    .navigation li {
        margin: 0;
    }

    #menu {
        display: none;
    }

    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

}